/*NAVBAR*/

/*All Elements and classes in this file are applied on the 
navigationbar that is on every page on this website*/

ul.topnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    /*background-color: #333;*/
	background-color: black;
}

ul.topnav li {
	float: left;
}

ul.topnav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
	font-family: "xscale";
}

ul.topnav li a:hover:not(.active) {
	background-color: #111;
}

ul.topnav li a.active {
	background-color: #4CAF50;
}

ul.topnav li.right {
	float: right;
}

@media screen and (max-width: 918px){
    ul.topnav li.right, 
    ul.topnav li {float: none;}
}

/*SLUT PÅ NAVBAR*/

