/*
CSS Specificity calculation in the form of : 0,0,0,0.
first: inlin-style css.
second: IDs.
third: classes, attributes and psuedo-classes.
fourth: elements and pseudo-elements.
*/

/*0,0,0,0*/
/*Controls everything on the page*/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/*0,0,0,1*/
html {
   background-color:  lightgrey;
}
/*0,0,0,1*/
body {
    background-color:  lightgrey;
}

/*HEADER */
/*SAME HEADER ON ALL PAGES OF THE SITE*/

/*0,0,1,0*/
/*Class that controls the header tag on all pages*/
.nav-head {
	width: 50%;
	height: 12em;
	background-color: black;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
}

/*Class control the logo on all pages*/
/*0,0,1,0*/
.plantlogo {
    position: absolute;
    top: 0.5em;
    left: 30.5em;
}

/*0,0,1,0*/
/*Class control the title on all pages*/
.title {
	color: #558b2f;
	margin-top: 0.5em;
	font-family: "xscale";
	font-size: 4rem;
	justify-content: center;
	align-self: center;

}

/*0,0,0,1*/
nav {
	width: 100%;;
	height: 30%;
    justify-content: center;
	align-items: flex-end;
	display: flex;
}

/*HEADER END*/

/*Center image on homepage*/
/*0,0,1,0*/
.centerImg {

	margin-top: -30px;
	margin-left: 15em;
	
}

/*Center image on Pricing page*/
/*0,0,1,0*/
.centerImg2 img{
	margin-top: 6em;
	margin-left: 20em;
}

/*Center image on About page*/
/*0,0,1,0*/
.centerImg3 {
  margin-top: 3em;
  margin-left: 10em;
}

/*END OF CENTER ALL IMAGES ON THE SITE*/

/*CONTENT HOLDERS ON ALL PAGES*/

/*class for all the main tags on the page*/
/*0,0,1,0*/
.container {
	width: 50%;
	height: auto;
	margin: 0 auto;
	background-color: #f0f3bd;
}

/*Class for all wrapping divs of article on all pages*/
/*0,0,1,0*/
.homepage {
	width:100%;
	height: 50.7em;
}

/*Class for all article tags on all pages*/
/*0,0,1,0*/
.maincontent {
	width: 100%;
	height: 30em;
	margin: 0 auto;
}

/*Class for all the h3 tags on all pages*/
/*0,0,1,0*/
.h3-title {
	font-family: "xscale";
    color: #558b2f;
	font-size: 2rem;
	margin-left: 25%;
	margin-right: 25%;
}

/*Class controlling all p tags in all article tags that have p tags */
/*0,0,1,1*/
.maincontent p {
	margin-top: 5px;
	font-size: 24px;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	color: black;
	margin-left: 0.5em;
}
/*END OF CONTENT HOLDERS FOR ALL PAGES*/


/*PRICING PAGE*/
/*PRICING PAGE TABLE*/

/*Class controlling the table tag and all children within */

/*0,0,1,0*/
.tbl {
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	border-collapse: collapse;
	width:50%;
	margin: 0 auto;
}

/*0,0,1,1*/
.tbl th {
	border: 2px solid #558b2f;
	text-align: center;
    padding: 0.5em;
}

/*0,0,1,1*/
.tbl td {
	border: 2px solid #558b2f;
	padding: 0.5em;
	text-align: left;
}

/*0,0,2,1*/
.tbl tr:nth-child(1) {
	background-color: #558b2f;
}

/*0,0,2,1*/
.tbl tr:nth-child(odd) {
	background-color: none;
}

/*0,0,2,1*/
.tbl tr:nth-child(even) {
	background-color: lightgrey;
}

/*0,0,2,1*/
.tbl tr:hover {
	cursor: pointer;
}

/*END OF PRICING TABLE*/

/*PLANT THEMES PAGE*/

/*Class controls all ul elements that has that class and the children within it*/
/*0,0,1,0*/
.list {
	margin-top: 1rem;
	margin-left: 1rem;
}

/*0,0,1,1*/
.list h3 {
    color: #558b2f;
}

/*0,0,1,1*/
.list li {
	margin-top: 1rem;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	color: black;
	font-size: 1em;
}

/*END  OF PLANT THEMES PAGE*/


/*ABOUT US PAGE*/
/*Class controls all ul elements that has that class and the children within it*/
/*0,0,1,0*/
.list2 {
    margin-top: 1rem;
    margin-left: 1rem;
}

/*0,0,1,1*/
.list2 h3 {
    color: #558b2f;
}

/*0,0,1,1*/
.list2 li {
	margin-top: 1rem;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	color: black;
	font-size: 1.5em;
}


/*END OF ABOUT US PAGE*/

/*CONTACT PAGE*/

/*Class controls all ul elements that has that class and the children within it*/
/*0,0,1,0*/
.list3 {
	margin-top: 1rem;
	margin-left: 1rem;
}
/*0,0,1,1*/
.list3 h3 {
    color: #558b2f;
}
/*0,0,1,1*/
.list3 li {
	margin-top: 1rem;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	color: black;
	font-size: 1em;
}

/*FORM CSS*/

/*Class controls the form tag and all children connected to it*/
/*0,0,1,0*/
.form {
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	margin-left: 1em;
	font-size: 1em;
	clear:both;
	color: #558b2f;
	width: 45%;
}

/*0,0,1,1*/
.form h2 {
	margin-top: 0.5em;
    color: #558b2f;
    font-family: 'xscale';
    font-size: 2em;
    text-align: left;
	clear:both;
}

/*Class control the legend tag*/
/*0,0,1,0*/
.legtext {
    
    color: #558b2f;
    font-size: 1.5em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/*Class control the fieldset tag*/
/*0,0,1,0*/
.field {
	border-style: none;
}


/*Class control the submit button on the form and the different states of the button*/
/*0,0,1,0*/
.contactBtn {
	-moz-box-shadow: 0px 10px 14px -7px #3e7327;
	-webkit-box-shadow: 0px 10px 14px -7px #3e7327;
	box-shadow: 0px 10px 14px -7px #3e7327;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #77b55a), color-stop(1, #72b352));
	background:-moz-linear-gradient(top, #77b55a 5%, #72b352 100%);
	background:-webkit-linear-gradient(top, #77b55a 5%, #72b352 100%);
	background:-o-linear-gradient(top, #77b55a 5%, #72b352 100%);
	background:-ms-linear-gradient(top, #77b55a 5%, #72b352 100%);
	background:linear-gradient(to bottom, #77b55a 5%, #72b352 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#77b55a', endColorstr='#72b352',GradientType=0);
	background-color:#558b2f;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	border-radius:4px;
	border:1px solid #4b8f29;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:13px;
	font-weight:bold;
	padding:6px 12px;
	text-decoration:none;
	text-shadow:0px 1px 0px #5b8a3c;
}
/*0,0,2,0*/
.contactBtn:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #72b352), color-stop(1, #77b55a));
	background:-moz-linear-gradient(top, #72b352 5%, #77b55a 100%);
	background:-webkit-linear-gradient(top, #72b352 5%, #77b55a 100%);
	background:-o-linear-gradient(top, #72b352 5%, #77b55a 100%);
	background:-ms-linear-gradient(top, #72b352 5%, #77b55a 100%);
	background:linear-gradient(to bottom, #72b352 5%, #77b55a 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#72b352', endColorstr='#77b55a',GradientType=0);
	background-color:#558b2f;
}
/*0,0,2,0*/
.contactBtn:active {
	position:relative;
	top:1px;
}


/*END OF FORM CSS*/
/*Controls specific li elements on the contact page*/
/*0,0,1,0*/
.myLI {
	width:100%;
    height: 100%;
}

/*END OF CONTACT PAGE*/


/*FOOTER*/
/*Controls the footer and the child elements inside the footer*/
/*0,0,1,0*/
.footer {
	width: 100%;
	height: 3.2em;
	background-color: #000;
	color: white;
}
/*0,0,1,1*/
.footer li {
	margin-right: 1em;
	margin-left: 9em;
	color: white;
}

/*Class control the li element specificly in the footer ul on all the pages*/
/*0,0,1,0*/
.flist {
	text-decoration: none;
}
/*0,0,2,0*/
.flist:before {
	content:".:";
}
/*0,0,2,0*/
.flist:after {
	content:":.";
}

/*END OF FOOTER*/