<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="../css/style.css">
    <link rel="stylesheet" href="../css/navbar.css">
    <title>Plantify</title>
</head>

<body>
    <header class="nav-head">
        <img class="plantlogo" src="../img/plantlogosmall.png" alt="Plantify Logo">
        <h1 class="title">PLANTIFY</h1>
        <nav>
            <label for="show-menu" class="show-menu">Show Menu</label>
            <input type="checkbox" id="show-menu" role="button">
            <ul class="menu">
                <li><a href="../index.html">Home</a></li>
                <li>
                    <a href="pricing.html">Pricing</a>

                </li>
                <li>
                    <a href="themes.html">Plant themes</a>

                </li>
                <li><a href="about.html">About Us</a></li>
                <li><a href="contact.html">Contact</a></li>
            </ul>
        </nav>
    </header>
    <main class="container">
        <div class="homepage">
          <article class="maincontent">
                <ul class="list2">
               <li>
                   <h3 class="h3-title">About Us</h3>
                   Plantify revolutionizes the way you think about plants in an office environment. Plantify isn't just a a delivery service for plants, it's a delivery service for new ideas. Plantify makes it easy to keep your workplace fresh and oxygenated. A workplace that is a alive create ideas that live on.
                   </li>
                   <li>
                       Plantify started in Stockholm in 2016 by Steffe Stickling and Petronella, just Petronella. 
                   </li>
           </ul>
           <figure><img class="centerImg3" src="../img/forest.png" alt="forest"></figure>
          </article>
        </div>
        <footer class="footer">
           <ul class="list">
                 <li class="flist">Copyright</li>

                 <li class="flist">Eddie Jostell</li>
        
                 <li class="flist">2016</li>
             </ul>
        </footer>
    </main>
</body>

</html>