<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="../css/style.css">
    <link rel="stylesheet" href="../css/navbar.css">
    <title>Plantify</title>
</head>

<body>
    <header class="nav-head">
        <img class="plantlogo" src="../img/plantlogosmall.png" alt="Plantify Logo">
        <h1 class="title">PLANTIFY</h1>
        <nav>
            <label for="show-menu" class="show-menu">Show Menu</label>
            <input type="checkbox" id="show-menu" role="button">
            <ul class="menu">
                <li><a href="../index.html">Home</a></li>
                <li>
                    <a href="pricing.html">Pricing</a>

                </li>
                <li>
                    <a href="themes.html">Plant themes</a>

                </li>
                <li><a href="about.html">About Us</a></li>
                <li><a href="contact.html">Contact</a></li>
            </ul>
        </nav>
    </header>

    <main class="container">
        <div class="homepage">
  <article class="maincontent">
                <h3 class="h3-title">Company Contact Information</h3>
           <ul class="list3">
               <li class="myLI">
                   <h3>Adress</h3>
                   Birger Jarlsgatan 5000
                   </li>
           </ul>
            <ul class="list3">
               <li class="myLI">
                   <h3>City</h3>
                    Stockholm
                   </li>
           </ul>
            <ul class="list3">
               <li class="myLI">
                   <h3>Phone</h3>
                   08-13371337
                   </li>
           </ul>
              <ul class="list3">
               <li class="myLI">
                   <h3>Social Media</h3>
                    Plantify, Twitter: @Plantify
                   </li>
           </ul>
              <h3 class="h3-title">Get in touch with Plantify!</h3>
              <form name="contactform" class="form">
                        <fieldset class="field">
                            <legend class="legtext">Fill out the form below:</legend>
                            <label>Name</label><br /><input type="text" /><span></span><br>
                            <label>E-mail</label><br /><input type="email" /><span></span><br>
                            <label>Phone</label><br /><input type="tel" /><span ></span><br>
                            <label>Subject</label><br /><input type="text" /><span ></span><br>
                            <label>Message</label><br>
                            <textarea></textarea><span ></span><br />
                            <input class="contactBtn" type="submit" value="Send" />
                        </fieldset>
                    </form>
                    <figure>

                    </figure>
            </article>    
        </div>
        <footer class="footer">
           <ul class="list">
                 <li class="flist">Copyright</li>

                 <li class="flist">Eddie Jostell</li>
        
                 <li class="flist">2016</li>
             </ul>
        </footer>
    </main>
</body>

</html>