<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/media.css">
    <link rel="stylesheet" type="text/css" href="../css/style.css">
    <link rel="stylesheet" href="../css/navbar.css">
    <title>Plantify</title>
</head>

<body>
    <header class="nav-head">
             <div class="logo-title-div">
            <img class="plantlogo" src="../img/logoxs.png" alt="Plantify Logo">
            <h1 class="title">PLANTIFY</h1>
        </div>
        <!--<div class="logo-div">
            
        </div>-->
         <ul class="topnav">
                <li><a href="../index.html">Home</a></li>
                <li><a href="pricing.html">Pricing</a></li>
                <li><a href="themes.html">Plant Themes</a></li>
                <li><a href="about.html">About Us</a></li>
                <li class="right"><a class="active" href="contact.html">Contact</a></li>
            </ul>
    </header>

    <main class="container">
  <article class="maincontent">
                <h3 class="h3-title">Company Contact Information</h3>
           
                   <h3 class="contact">Adress</h3>
                   <p class="contact-p">Jarlsgatan 5000</p>
          
            
                   <h3 class="contact">City</h3>
                   <p class="contact-p"> Stockholm</p>
           
                   <h3 class="contact">Phone</h3>
                 <p class="contact-p">  08-13371337</p>
          
                   <h3 class="contact">Social Media</h3>
                  <p class="contact-p">Plantify, Twitter: @Plantify </p>
           
              <h3 class="h3-title">Get in touch with Plantify!</h3>
              <form name="contactform" class="form">
                        <fieldset class="field">
                            <legend class="legtext">Fill out the form below:</legend>
                            <label>Name</label><br /><input type="text" /><span></span><br>
                            <label>E-mail</label><br /><input type="email" /><span></span><br>
                            <label>Phone</label><br /><input type="tel" /><span ></span><br>
                            <label>Subject</label><br /><input type="text" /><span ></span><br>
                            <label>Message</label><br>
                            <textarea></textarea><span ></span><br />
                            <input class="contactBtn" type="submit" value="Send" />
                        </fieldset>
                    </form>
                    <figure>

                    </figure>
            </article>    
        <footer class="footer">
           <ul class="list">
                 <li class="flist">Copyright</li>

                 <li class="flist">Eddie Jostell</li>
        
                 <li class="flist">2016</li>
             </ul>
        </footer>
    </main>
</body>

</html>