<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="../css/style.css">
    <link rel="stylesheet" href="../css/navbar.css">
    <title>Plantify</title>
</head>

<body>
    <header class="nav-head">
        <img class="plantlogo" src="../img/plantlogosmall.png" alt="Plantify Logo">
        <h1 class="title">PLANTIFY</h1>
        <nav>
            <label for="show-menu" class="show-menu">Show Menu</label>
            <input type="checkbox" id="show-menu" role="button">
            <ul class="menu">
                <li><a href="../index.html">Home</a></li>
                <li>
                    <a href="pricing.html">Pricing</a>

                </li>
                <li>
                    <a href="themes.html">Plant themes</a>

                </li>
                <li><a href="about.html">About Us</a></li>
                <li><a href="contact.html">Contact</a></li>
            </ul>
        </nav>
    </header>

    <main class="container">
        <div class="homepage">
            <article class="maincontent">
                <h3 class="h3-title">Check out the price chart for the different packages we provide</h3>
                <table class="tbl">
                    <tr>
                        <th>Standard</th>
                        <th>Premium</th>
                        <th>Exclusive</th>
                    </tr>
                    <tr>
                        <td>Watering not included</td>
                        <td>Watering included</td>
                        <td>Web-controlled watering system included</td>
                    </tr>
                    <tr>
                        <td>No change of dead plants, monthly plant change</td>
                        <td>Exchange of dead plants included, monthly plant change</td>
                        <td>Change of dead plants included, weekly plant exchange</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td>Surveillence system for every plant. 24/7 support</td>
                    </tr>
                     <tr>
                        <td></td>
                        <td></td>
                        <td>Only locally grown plants</td>
                    </tr>
                </table>
                <figure class="centerImg2"><img  src="../img/plant.png" alt="Plant"></figure>
            </article>

        </div>
        <footer class="footer">
           <ul class="list">
                 <li class="flist">Copyright</li>

                 <li class="flist">Eddie Jostell</li>
        
                 <li class="flist">2016</li>
             </ul>
        </footer>
    </main>
</body>

</html>