<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/media.css">
    <link rel="stylesheet" type="text/css" href="../css/style.css">
    <link rel="stylesheet" href="../css/navbar.css">
    <title>Plantify</title>
</head>

<body>
    <header class="nav-head">
        <div class="logo-title-div">
            <img class="plantlogo" src="../img/logoxs.png" alt="Plantify Logo">
            <h1 class="title">PLANTIFY</h1>
        </div>
        <!--<div class="logo-div">
            
        </div>-->
         <ul class="topnav">
                <li><a href="../index.html">Home</a></li>
                <li><a class="active" href="pricing.html">Pricing</a></li>
                <li><a href="themes.html">Plant Themes</a></li>
                <li><a href="about.html">About Us</a></li>
                <li class="right"><a href="contact.html">Contact</a></li>
            </ul>
    </header>

    <main class="container">
            <article class="maincontent">
                <h3 class="h3-title">Check out the price chart for the different packages we provide</h3>
                <table class="tbl">
                    <tr>
                        <th>Standard</th>
                        <th>Premium</th>
                        <th>Exclusive</th>
                    </tr>
                    <tr>
                        <td>Watering not included</td>
                        <td>Watering included</td>
                        <td>Web-controlled watering system included</td>
                    </tr>
                    <tr>
                        <td>No change of dead plants, monthly plant change</td>
                        <td>Exchange of dead plants included, monthly plant change</td>
                        <td>Change of dead plants included, weekly plant exchange</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td>Surveillence system for every plant. 24/7 support</td>
                    </tr>
                     <tr>
                        <td></td>
                        <td></td>
                        <td>Only locally grown plants</td>
                    </tr>
                </table>
                <figure class="centerImg2"><img  src="../img/plant.png" alt="Plant"></figure>
            </article>

      <!--  <footer class="footer">
           <ul class="list">
                 <li class="flist">Copyright</li>

                 <li class="flist">Eddie Jostell</li>
        
                 <li class="flist">2016</li>
             </ul>
        </footer>-->
    </main>
</body>

</html>