<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="../css/style.css">
    <link rel="stylesheet" href="../css/navbar.css">
    <title>Plantify</title>
</head>

<body>
    <header class="nav-head">
        <img class="plantlogo" src="../img/plantlogosmall.png" alt="Plantify Logo">
        <h1 class="title">PLANTIFY</h1>
        <nav>
            <label for="show-menu" class="show-menu">Show Menu</label>
            <input type="checkbox" id="show-menu" role="button">
            <ul class="menu">
                <li><a href="../index.html">Home</a></li>
                <li>
                    <a href="pricing.html">Pricing</a>

                </li>
                <li>
                    <a href="themes.html">Plant themes</a>

                </li>
                <li><a href="about.html">About Us</a></li>
                <li><a href="contact.html">Contact</a></li>
            </ul>
        </nav>
    </header>
    <main class="container">
        <div class="homepage">
            <article class="maincontent">
                <h3 class="h3-title">Choose a theme to style your office space.</h3>
           <ul class="list">
               <li>
                   <h3>Aloha</h3>
                   <figure class="centerflower"><img src="../img/hawaiiflower.png" alt="flower"></figure>
                   This rich theme includes exotic coconuts spilling all over the floor combined with palm trees that hang down and are always in the way of your workflow. 
                   This theme is very complicated, suitable for complex startups.
                   </li>
           </ul>
            <ul class="list">
               <li>
                   <h3>Siberia</h3>
                   <figure class="centerhusky"><img src="../img/husky.png" alt="dog"></figure>
                    Dead plants everywhere. Plants sprayed with white color to give that cold secluded look. Is your startups policy very coldhearted? 
                    This is the setting for you!.
                   </li>
           </ul>
            <ul class="list">
               <li>
                   <h3>Exotique Nordic</h3>
                    <figure class="centerhusky"><img src="../img/Pinetree.png" alt="tree"></figure>
                    A shitload of pine and spruce. Get that Norrlands inland-look in your office.
                    Comes with a Christmas Decoration Extension Pack for the first 100 subscribers. (Bears not included)..
                   </li>
           </ul>
              <ul class="list">
               <li>
                   <h3>Death by big ass plant</h3>
                   <!--INSERT PIC -->
                    Big carnivorius eating plants everywhere. For the CEOs who wanna scare the living daylights out of their employees so they work harder!
                   </li>
           </ul>
         
            </article>
        </div>
        <footer class="footer">
          <ul class="list">
                 <li class="flist">Copyright</li>

                 <li class="flist">Eddie Jostell</li>
        
                 <li class="flist">2016</li>
             </ul>
        </footer>
    </main>
</body>

</html>